.linkContents {
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.link:hover .linkContents {
    transform: scale(0.95);
}

.linkContents::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: 0;
    z-index: -1;
    transition: height 0.4s ease;
    border-radius: 100%;
    overflow: hidden;
}

.link:hover .linkContents::before {
    height: calc(100% + 40px);
}

.link:hover .linkContents .arrow {
    animation: moveArrow 0.35s forwards;
    animation-delay: 0.15s;
}

@keyframes moveArrow {
    0% {
        transform: translate(0%, 0%);
    }
    49% {
        transform: translate(100%, -100%);
    }
    50% {
        transform: translate(-100%, 100%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}
