.navMenu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s;
}

.navMenu:not(.open) {
    transition-delay: 0.4s;
}

.navMenu.open {
    visibility: visible;
    opacity: 1;
}

.link {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    margin-bottom: 0rem;
}

.link {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.text {
    display: block;
    transition: transform 0.4s ease;
}

.clonedText {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(200%);
}

.navMenu.open .clonedText {
    transform: translateY(100%);
}

.navMenu .originalText {
    transform: translateY(100%);
}

.navMenu.open .originalTextOpened {
    transform: translateY(0%);
}

.navMenu.open .link:hover .originalText {
    transform: translateY(-100%);
}

.navMenu.open .link:hover .clonedText {
    transform: translateY(0%);
}

.overlayGradient {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.1) 10%,
        rgba(0, 0, 0, 0.2) 20%,
        rgba(0, 0, 0, 0.4) 30%,
        rgba(0, 0, 0, 0.6) 40%,
        rgba(0, 0, 0, 0.8) 50%,
        rgba(0, 0, 0, 0.9) 60%,
        rgba(0, 0, 0, 0.95) 70%,
        rgba(0, 0, 0, 0.97) 80%,
        rgba(0, 0, 0, 0.98) 90%,
        rgba(0, 0, 0, 0.99) 95%,
        rgba(0, 0, 0, 1) 100%
    );
}

.externalLinkFadeIn {
    opacity: 0;
    animation: externalLinkFadeInAnimation ease 0.4s;
    animation-fill-mode: forwards;
}

.externalLinkFadeOut {
    animation: externalLinkFadeOutAnimation ease 0.4s;
    animation-fill-mode: forwards;
}

@keyframes externalLinkFadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes externalLinkFadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.link .inline-block {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: auto;
    line-height: normal;
}
