.link {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}

.text {
    display: block;
    transition: transform 0.4s ease;
}

.originalText {
    transform: translateY(0%);
}

.clonedText {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(100%);
}

.link:hover .originalText {
    transform: translateY(-100%);
}

.link:hover .clonedText {
    transform: translateY(0%);
}
