.animatedLink {
    display: inline;
    position: relative;
    overflow: hidden;
}

.animatedLink:after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: rgb(245 245 244);
    height: 1px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.animatedLink:hover:after,
.animatedLink:focus:after,
.animatedLink:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

.animatedLink:not(:hover) {
    background-position: 100% 100%;
    background-size: 0% 1px;
}

.animatedLinkActive:after {
    left: 0;
    right: auto;
    width: 100%;
    bottom: -5px;
}
