@tailwind base;
@tailwind components;
@tailwind utilities;

.font-monument {
    font-family: var(--font-monument);
}

.text-stroke-hover:hover {
    color: transparent;
    -webkit-text-stroke: 1px rgb(245 245 244);
}

.text-stroke-hover {
    -webkit-text-stroke: 1px rgb(245 245 244);
    color: rgb(245 245 244);
}

.fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bottom-fade {
    background: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.002) 1.8%,
        rgba(0, 0, 0, 0.008) 4.8%,
        rgba(0, 0, 0, 0.021) 9%,
        rgba(0, 0, 0, 0.042) 13.9%,
        rgba(0, 0, 0, 0.075) 19.8%,
        rgba(0, 0, 0, 0.126) 27%,
        rgba(0, 0, 0, 0.194) 35%,
        rgba(0, 0, 0, 0.278) 43.5%,
        rgba(0, 0, 0, 0.382) 53%,
        rgba(0, 0, 0, 0.541) 66%,
        rgba(0, 0, 0, 0.738) 81%,
        black 100%
    );
}

.bottom-fade-r {
    background: linear-gradient(
        to top,
        transparent 0%,
        rgba(0, 0, 0, 0.002) 1.8%,
        rgba(0, 0, 0, 0.008) 4.8%,
        rgba(0, 0, 0, 0.021) 9%,
        rgba(0, 0, 0, 0.042) 13.9%,
        rgba(0, 0, 0, 0.075) 19.8%,
        rgba(0, 0, 0, 0.126) 27%,
        rgba(0, 0, 0, 0.194) 35%,
        rgba(0, 0, 0, 0.278) 43.5%,
        rgba(0, 0, 0, 0.382) 53%,
        rgba(0, 0, 0, 0.541) 66%,
        rgba(0, 0, 0, 0.738) 81%,
        black 100%
    );
}
